@import "tailwindcss";
@import "tw-animate-css";


html, body {
  height: 100%; /* Ensure full height of the viewport */
  width: 100%;  /* Ensure full width of the viewport */
  margin: 0;    /* Remove default margins */
  padding: 0;   /* Remove default padding */
  overflow-x: hidden;
}



